<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Blogs</h1>

    <form action="createblog" method="post" enctype="multipart/form-data"><br><br>
        <input type="text" name="title" placeholder="blog title"><br><br>
        <input type="text" name="description" placeholder=" blog description"><br><br>
        <input type="text" name="author" placeholder="blog author"><br><br>
        <input type="file" name="avatar"><br><br>
        <button type="submit">add blog</button>
    </form>

</body>
</html>